api:
  dashboard: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: "schaermu+acme@pm.me"
      storage: "/etc/traefik/acme_letsencrypt.json"
      dnschallenge:
        provider: cloudflare

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: "websecure"
          scheme: "https"

  websecure:
    address: ":443"
    transport:
      respondingTimeouts:
        readTimeout: 0s
        idleTimeout: 600s
        writeTimeout: 600s
    http:
      tls:
        certResolver: letsencrypt
        domains:
          - main: schaermu.ch
            sans:
              - "*.schaermu.ch"
              - "*.lab.schaermu.ch"
      middlewares:
        - default@file

global:
  checkNewVersion: true
  sendAnonymousUsage: false

providers:
  swarm:
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    network: "traefik-public"
    defaultRule: 'Host(`{{ index .Labels "com.docker.compose.service" }}.home.schaermu.ch`)'
  file:
    filename: "/etc/traefik/dynamic.conf.yml"
    watch: true
  providersThrottleDuration: 10s

log:
  level: WARN

metrics:
  prometheus: {}