[tools]
age = "latest"
ansible = "latest"
lefthook = "latest"
opentofu = "latest"
pipx = "latest"
python = "latest"
sops = "latest"
uv = "latest"

[env]
_.file = '.env.local'
_.python.venv = { path = ".venv" }

[settings]
python.uv_venv_auto = true

[tasks.tofu]
dir = "tofu"
run = "tofu"

[tasks.run-ansible]
usage = '''
arg "<playbook>" help="Name of the playbook to run (without .yaml extension)"
arg "<tags>" help="Comma-separated list of Ansible tags to run (defaults to 'all')" default="all"
'''
run = '''
ansible-playbook ansible/playbooks/${usage_playbook?}.yaml --tags "${usage_tags?}"
'''

[tasks.dococd-restart]
usage = '''
arg "<stack>" help="Target stack"
'''
run = '''
curl -H "x-api-key: ${DOCOCD_API_KEY}" https://doco-cd.schaermu.ch/v1/api/stack/${usage_stack?}/restart -X POST
'''
