[tools]
age = "latest"
ansible = "latest"
lefthook = "latest"
opentofu = "latest"
pipx = "latest"
python = "latest"
sops = "latest"
uv = "latest"

[env]
_.file = '.env.local'
_.python.venv = { path = ".venv" }

[settings]
python.uv_venv_auto = true

[tasks.tofu]
dir = "tofu"
run = "tofu"

[tasks.run-ansible]
usage = '''
arg "<playbook>" help="Name of the playbook to run (without .yaml extension)"
'''
run = '''
ansible-playbook ansible/playbooks/${usage_playbook?}.yaml
'''

[tasks.encrypt]
usage = '''
arg "<file>" help="File to encrypt"
arg "<stack>" help="Target stack"
'''
run = '''
mkdir -p docker-stacks/${usage_stack?}/secrets
sops encrypt --age age1ckwz78jqmky5675utpwezq328ksurvk7wrgkvmwcwljg5pes9fpslfdz0q secrets/${usage_file?} > docker-stacks/${usage_stack?}/secrets/${usage_file?}.enc
'''

[tasks.dococd-restart]
usage = '''
arg "<stack>" help="Target stack"
'''
run = '''
curl -H "x-api-key: ${DOCOCD_API_KEY}" https://doco-cd.schaermu.ch/v1/api/stack/${usage_stack?}/restart -X POST
'''
