volumes:
  data:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.244,rw,vers=4.1
      device: ":/mnt/MAIN_POOL/data/docker-volumes"

secrets:
  dotenv-dococd:
    external: true

networks:
  cloudflare-tunnel:
    external: true

services:
  init_volumes:
    user: "3004:3004"
    image: busybox
    command: >
      sh -c "mkdir -p /mnt/docker-volumes/doco-cd-data"
    deploy:
      replicas: 1
      mode: replicated-job
    volumes:
      - type: volume
        source: data
        target: /mnt/docker-volumes
        volume:
          nocopy: true
  app:
    image: ghcr.io/kimdre/doco-cd:0.57.0
    env_file:
      - /var/run/secrets/dotenv-dococd
    environment:
      TZ: Europe/Zurich
      SECRET_PROVIDER: infisical
      DOCKER_QUIET_DEPLOY: "false"
      LOG_LEVEL: info
    depends_on:
      - init_volumes
    networks:
      cloudflare-tunnel:
        aliases:
          - doco-cd
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.doco-cd.rule=Host(`doco-cd.lab.schaermu.ch`)"
        - "traefik.http.routers.doco-cd.entrypoints=websecure"
        - "traefik.http.services.doco-cd.loadbalancer.server.port=80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - type: volume
        source: data
        target: /data
        volume:
          subpath: doco-cd-data
          nocopy: true
    healthcheck:
      test: [ "CMD", "/doco-cd", "healthcheck" ]
      start_period: 15s
      interval: 30s
      timeout: 5s
      retries: 3