configs:
  traefik.yaml:
    file: ./config/traefik.yaml
  dynamic.conf.yaml:
    file: ./config/dynamic.conf.yaml

volumes:
  data:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.244,rw,vers=4.1
      device: ":/mnt/MAIN_POOL/data/docker-volumes"

networks:
  default:
    external: true
    name: traefik-public

services:
  init_volumes:
    user: "3004:3004"
    image: busybox
    command: >
      hush -c "mkdir -p /mnt/docker-volumes/traefik-data"
    deploy:
      replicas: 1
      mode: replicated-job
    volumes:
      - type: volume
        source: data
        target: /mnt/docker-volumes
        volume:
          nocopy: true
  proxy:
    image: traefik:v3.6.4
    environment:
      CF_API_EMAIL: ${TRAEFIK_CF_API_EMAIL}
      CF_DNS_API_TOKEN: ${TRAEFIK_CF_DNS_API_TOKEN}
      OIDC_CLIENT_ID: ${TRAEFIK_OIDC_CLIENT_ID}
      OIDC_CLIENT_SECRET: ${TRAEFIK_OIDC_CLIENT_SECRET}
      OIDC_SECRET: ${TRAEFIK_OIDC_SECRET}
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    configs:
      - source: traefik.yaml
        target: /etc/traefik/traefik.yaml
      - source: dynamic.conf.yaml
        target: /etc/traefik/dynamic.conf.yml
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - type: volume
        source: data
        target: /certs
        volume:
          subpath: traefik-data
          nocopy: true
    deploy:
      replicas: 1
      placement:
        constraints: 
          - node.role==manager
      labels:
        traefik.enable: "true"
        traefik.http.routers.dashboard.middlewares: "default-security-headers,gzip,oidc-auth"
        traefik.http.routers.dashboard.entryPoints: "websecure"
        traefik.http.routers.dashboard.service: "api@internal"
        traefik.http.routers.dashboard.rule: "Host(`traefik.lab.schaermu.ch`)"
        traefik.http.services.traefik.loadbalancer.server.port: 8080