configs:
  traefik-config:
    file: ./config/traefik.yaml
  traefik-dynamic-config:
    file: ./config/dynamic.conf.yaml

volumes:
  data:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.244,rw,vers=4.1
      device: ":/mnt/MAIN_POOL/data/docker-volumes"

networks:
  default:
    external: true
    name: traefik-public

services:
  init_volumes:
    user: "${DOCKER_UID}:${DOCKER_GID}"
    image: busybox
    command: mkdir -p /mnt/docker-volumes/traefik-data
    deploy:
      replicas: 1
      mode: replicated-job
    volumes:
      - type: volume
        source: data
        target: /mnt/docker-volumes
        volume:
          nocopy: true
  proxy:
    image: traefik:v3.6.4
    env_file:
      - secrets/.env.cloudflare.enc
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    configs:
      - source: traefik-config
        target: /etc/traefik/traefik.yaml
      - source: traefik-dynamic-config
        target: /etc/traefik/dynamic.conf.yml
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - type: volume
        source: data
        target: /certs
        volume:
          subpath: traefik-data
          nocopy: true
    deploy:
      replicas: 1
      placement:
        constraints: 
          - node.role==manager
      labels:
        traefik.enable: "true"
        traefik.http.routers.dashboard.entryPoints: "websecure"
        traefik.http.routers.dashboard.middlewares: "default@file"
        traefik.http.routers.dashboard.service: "api@internal"
        traefik.http.routers.dashboard.rule: "Host(`traefik.lab.schaermu.ch`)"
        traefik.http.services.traefik.loadbalancer.server.port: 8080