services:
  traefik:
    image: traefik:v3.6.4
    user: "${DOCKER_UID}:${DOCKER_GID}"
    env_file:
      - secrets/.env.cloudflare.enc
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host    
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config:/etc/traefik
    deploy:
      mode: global
      placement:
        constraints: [node.role == manager]
      labels:
        traefik.enable: "true"
        traefik.http.routers.dashboard.entryPoints: "websecure"
        traefik.http.routers.dashboard.middlewares: "default@file"
        traefik.http.routers.dashboard.service: "api@internal"
        traefik.http.services.traefik.loadbalancer.server.port: 8080
    hostname: traefik
    security_opt:
      - no-new-privileges:true
    networks:
      - traefik-public
networks:
  traefik-public:
    external: true