configs:
  vector.yaml:
    file: ./config/vector.yaml

volumes:
  data:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.244,rw,vers=4.1
      device: ":/mnt/MAIN_POOL/data/logs"

networks:
  default:
    name: vlog-net
    external: true
  metric-net:
    external: true

services:
  vlogs:
    image: victoriametrics/victoria-logs:v1.43.1
    command:
      - "-storageDataPath=/vlogs"
      - "-httpListenAddr=:9428"
    networks:
      default:
        aliases:
          - victorialogs
    volumes:
      - type: volume
        source: data
        target: /vlogs
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        delay: 10s
        order: stop-first
  
  vector:
    image: docker.io/timberio/vector:0.52.X-distroless-libc
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker:/var/lib/docker:ro
    configs:
      - source: vector.yaml
        target: /etc/vector/vector.yaml
    deploy:
      mode: global