volumes:
  data:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.244,rw,vers=4.1
      device: ":/mnt/MAIN_POOL/data/docker-volumes"

networks:
  default:
    name: db-backup-net

services:
  init_volumes:
    user: "3004:3004"
    image: busybox
    command: >
      hush -c "mkdir -p /mnt/docker-volumes/db-backup-data"
    deploy:
      replicas: 1
      mode: replicated-job
    volumes:
      - type: volume
        source: data
        target: /mnt/docker-volumes
        volume:
          nocopy: true
  app:
    image: tiredofit/db-backup:latest
    volumes:
      - type: volume
        source: data
        target: /backup
        volume:
          subpath: db-backup-data
          nocopy: true
    environment:
      TIMEZONE: Europe/Zurich
      DEFAULT_BACKUP_BEGIN: "0200"
      USER_DBBACKUP: "3004"
      GROUP_DBBACKUP: "3004"
      DB01_TYPE: pgsql
      DB01_HOST: pocketid-db
      DB01_NAME: pocketid
      DB01_USER: pocketid
      DB01_PASS: ${POCKETID_DB_PASSWORD}
      DB01_FILESYSTEM_PATH: /backup/pocket-id
      DB02_TYPE: pgsql
      DB02_HOST: autobrr-db
      DB02_NAME: autobrr
      DB02_USER: autobrr
      DB02_PASS: ${AUTOBRR_DB_PASSWORD}
      DB02_FILESYSTEM_PATH: /backup/autobrr