- name: Bootstrap PVE server
  hosts: [workers, managers]
  become: true
  roles:
    - pve_server
    - geerlingguy.pip
  vars:
    pip_install_packages:
      - name: infisicalsdk
  tags: docker

- name: Setup keepalived
  hosts: [managers]
  become: true
  tasks:
  - name: Install keepalived package
    ansible.builtin.package:
      name: keepalived
      state: present

  - name: Determine other manager nodes
    set_fact:
      other_managers: "{{ groups.managers|difference([inventory_hostname]) }}"

  - name: Copy keepalived configuration
    ansible.builtin.template:
      src: ./templates/keepalived.conf.j2
      dest: /etc/keepalived/keepalived.conf
    vars:
      vip_address: "{{ lookup('env', 'TRAEFIK_VIRTUAL_IP') }}"

  - name: Copy traefik healthcheck script
    ansible.builtin.copy:
      src: ./files/traefik-healthcheck.sh
      dest: /etc/keepalived/healthcheck.sh
      mode: '0755'

  - name: Ensure keepalived is started and enabled
    ansible.builtin.service:
      name: keepalived
      state: started
      enabled: true
  tags: docker

- name: Install docker
  hosts: [workers, managers]
  vars:
    pip_install_packages:
      - name: docker
      - name: jsondiff
  become: true
  roles:
    - role: geerlingguy.pip
    - role: geerlingguy.docker
  tags: docker

- name: Add docker-apps user
  hosts: [workers, managers]
  become: true
  tasks:
    - name: Ensure docker-apps group exists
      ansible.builtin.group:
        name: "{{ lookup('env', 'DOCKER_USER') }}"
        state: present
        gid: "{{ lookup('env', 'DOCKER_GID') }}"

    - name: Ensure docker-apps user exists
      ansible.builtin.user:
        name: "{{ lookup('env', 'DOCKER_USER') }}"
        state: present
        create_home: false
        uid: "{{ lookup('env', 'DOCKER_UID') }}"
        group: "{{ lookup('env', 'DOCKER_USER') }}"

    - name: Add docker-apps user to docker group
      ansible.builtin.user:
        name: "{{ lookup('env', 'DOCKER_USER') }}"
        groups: docker
        append: true
  tags: docker

- name: Initialize Docker Swarm
  hosts: managers[0]
  become: true
  tasks:
    - name: Initialize the Docker Swarm
      community.docker.docker_swarm:
        state: present
        advertise_addr: "{{ ansible_facts.default_ipv4.address }}"
        default_addr_pool:
          - 10.0.128.0/17
    - name: Get swarm info
      community.docker.docker_swarm_info:
      register: swarm_info
  tags: docker

- name: Join remaining managers to Swarm
  hosts: managers[1:]
  become: true
  tasks:
    - name: Join as manager
      community.docker.docker_swarm:
        state: join
        remote_addrs:
          [
            "{{ hostvars[groups['managers'][0]].ansible_facts.default_ipv4.address }}",
          ]
        join_token: "{{ hostvars[groups['managers'][0]].swarm_info.swarm_facts.JoinTokens.Manager }}"
  tags: docker

- name: Join workers to Swarm
  hosts: workers
  become: true
  tasks:
    - name: Join as worker
      community.docker.docker_swarm:
        state: join
        remote_addrs:
          [
            "{{ hostvars[groups['managers'][0]].ansible_facts.default_ipv4.address }}",
          ]
        join_token: "{{ hostvars[groups['managers'][0]].swarm_info.swarm_facts.JoinTokens.Worker }}"
  tags: docker

- name: Label worker nodes for special capabilities
  hosts: managers[0]
  become: true
  tasks:
    - name: Add gpu label to worker 1
      community.docker.docker_node:
        hostname: "{{ groups['workers'][0] }}"
        labels:
          gpu: "true"
    - name: Add db label to worker 2
      community.docker.docker_node:
        hostname: "{{ groups['workers'][1] }}"
        labels:
          db: "true"
    - name: Add ssd_storage label to worker 3
      community.docker.docker_node:
        hostname: "{{ groups['workers'][2] }}"
        labels:
          ssd_storage: "true"
  tags: docker