- name: Bootstrap PVE server
  hosts: [workers, managers]
  become: true
  roles:
    - role: pve_server

- name: Add docker user
  hosts: [workers, managers]
  become: true
  tasks:
    - name: Ensure docker group exists
      ansible.builtin.group:
        name: "{{ lookup('env', 'DOCKER_USER') }}"
        state: present
        gid: "{{ lookup('env', 'DOCKER_GID') }}"
    - name: Ensure docker user exists
      ansible.builtin.user:
        name: "{{ lookup('env', 'DOCKER_USER') }}"
        state: present
        create_home: false
        uid: "{{ lookup('env', 'DOCKER_UID') }}"
        group: "{{ lookup('env', 'DOCKER_USER') }}"

- name: Install docker
  hosts: [workers, managers]
  vars:
    pip_install_packages:
      - name: docker
      - name: jsondiff
  become: true
  roles:
    - role: geerlingguy.pip
    - role: geerlingguy.docker

- name: Initialize Docker Swarm
  hosts: managers[0]
  become: true
  tasks:
    - name: Initialize the Docker Swarm
      community.docker.docker_swarm:
        state: present
    - name: Get swarm info
      community.docker.docker_swarm_info:
      register: swarm_info

- name: Join remaining managers to Swarm
  hosts: managers[1:]
  become: true
  tasks:
    - name: Join as manager
      community.docker.docker_swarm:
        state: join
        remote_addrs:
          [
            "{{ hostvars[groups['managers'][0]].ansible_facts.default_ipv4.address }}",
          ]
        join_token: "{{ hostvars[groups['managers'][0]].swarm_info.swarm_facts.JoinTokens.Manager }}"

- name: Join workers to Swarm
  hosts: workers
  become: true
  tasks:
    - name: Join as worker
      community.docker.docker_swarm:
        state: join
        remote_addrs:
          [
            "{{ hostvars[groups['managers'][0]].ansible_facts.default_ipv4.address }}",
          ]
        join_token: "{{ hostvars[groups['managers'][0]].swarm_info.swarm_facts.JoinTokens.Worker }}"

- name: Deploy docker secrets
  hosts: managers[0]
  tasks:
    - name: Create Docker secret for age private key
      community.docker.docker_secret:
        name: sops_age_private_key
        data: "{{ lookup('file', '../../secrets/sops_age_key.txt') | b64encode }}"
        data_is_b64: true
        state: present
    - name: Create Docker secret for SSH private key
      community.docker.docker_secret:
        name: github_ssh_private_key
        data: "{{ lookup('file', '../../secrets/id_ed25519') | b64encode }}"
        data_is_b64: true
        state: present

- name: Deploy DocoCD stack
  hosts: managers[0]
  tasks:
    - name: Copy stack file
      ansible.builtin.copy:
        src: ./files/doco-cd-docker-compose.yaml
        dest: /tmp/dococd-docker-compose.yaml
    - name: Deploy DocoCD stack
      community.docker.docker_stack:
        name: dococd
        state: present
        compose:
          - /tmp/dococd-docker-compose.yaml