- name: Bootstrap PVE server
  hosts: [workers, managers]
  become: true
  roles:
    - role: pve_server

- name: Setup keepalived
  hosts: [managers]
  become: true
  tasks:
  - name: Install keepalived package
    ansible.builtin.package:
      name: keepalived
      state: present
  - name: Determine other manager nodes
    set_fact:
      other_managers: "{{ groups.managers|difference([inventory_hostname]) }}"
  - name: Copy keepalived configuration
    ansible.builtin.template:
      src: ./files/keepalived.conf.j2
      dest: /etc/keepalived/keepalived.conf
    vars:
      vip_address: "192.168.1.30"
  - name: Copy traefik healthcheck script
    ansible.builtin.copy:
      src: ./files/traefik-healthcheck.sh
      dest: /etc/keepalived/healthcheck.sh
      mode: '0755'
  - name: Ensure keepalived is started and enabled
    ansible.builtin.service:
      name: keepalived
      state: started
      enabled: true
  tags:
    - keepalived

- name: Add docker user
  hosts: [workers, managers]
  become: true
  tasks:
    - name: Ensure docker group exists
      ansible.builtin.group:
        name: "{{ lookup('env', 'DOCKER_USER') }}"
        state: present
        gid: "{{ lookup('env', 'DOCKER_GID') }}"
    - name: Ensure docker user exists
      ansible.builtin.user:
        name: "{{ lookup('env', 'DOCKER_USER') }}"
        state: present
        create_home: false
        uid: "{{ lookup('env', 'DOCKER_UID') }}"
        group: "{{ lookup('env', 'DOCKER_USER') }}"
  tags:
    - swarm

- name: Install docker
  hosts: [workers, managers]
  vars:
    pip_install_packages:
      - name: docker
      - name: jsondiff
  become: true
  roles:
    - role: geerlingguy.pip
    - role: geerlingguy.docker
  tags:
    - swarm

- name: Initialize Docker Swarm
  hosts: managers[0]
  become: true
  tasks:
    - name: Initialize the Docker Swarm
      community.docker.docker_swarm:
        state: present
        advertise_addr: "{{ ansible_facts.default_ipv4.address }}"
    - name: Get swarm info
      community.docker.docker_swarm_info:
      register: swarm_info
  tags:
    - swarm

- name: Join remaining managers to Swarm
  hosts: managers[1:]
  become: true
  tasks:
    - name: Join as manager
      community.docker.docker_swarm:
        state: join
        remote_addrs:
          [
            "{{ hostvars[groups['managers'][0]].ansible_facts.default_ipv4.address }}",
          ]
        join_token: "{{ hostvars[groups['managers'][0]].swarm_info.swarm_facts.JoinTokens.Manager }}"
  tags:
    - swarm

- name: Join workers to Swarm
  hosts: workers
  become: true
  tasks:
    - name: Join as worker
      community.docker.docker_swarm:
        state: join
        remote_addrs:
          [
            "{{ hostvars[groups['managers'][0]].ansible_facts.default_ipv4.address }}",
          ]
        join_token: "{{ hostvars[groups['managers'][0]].swarm_info.swarm_facts.JoinTokens.Worker }}"
  tags:
    - swarm
