- name: Bootstrap PVE server
  hosts: [workers, managers]
  become: true
  roles:
    - role: pve_server

- name: Install docker
  hosts: [workers, managers]
  vars:
    pip_install_packages:
      - name: docker
  become: true
  roles:
    - role: geerlingguy.pip
    - role: geerlingguy.docker

- name: Initialize Docker Swarm
  hosts: managers[0]
  become: true
  tasks:
    - name: Initialize the Docker Swarm
      community.docker.docker_swarm:
        state: present
    - name: Get swarm info
      community.docker.docker_swarm_info:
      register: swarm_info

- name: Join remaining managers to Swarm
  hosts: managers[1:]
  become: true
  tasks:
    - name: Join as manager
      community.docker.docker_swarm:
        state: join
        remote_addrs:
          [
            "{{ hostvars[groups['managers'][0]].ansible_facts.default_ipv4.address }}",
          ]
        join_token: "{{ hostvars[groups['managers'][0]].swarm_info.swarm_facts.JoinTokens.Manager }}"

- name: Join workers to Swarm
  hosts: workers
  become: true
  tasks:
    - name: Join as worker
      community.docker.docker_swarm:
        state: join
        remote_addrs:
          [
            "{{ hostvars[groups['managers'][0]].ansible_facts.default_ipv4.address }}",
          ]
        join_token: "{{ hostvars[groups['managers'][0]].swarm_info.swarm_facts.JoinTokens.Worker }}"

- name: Deploy docker secrets
  hosts: managers[0]
  tasks:
    - name: Create Docker secret for age private key
      community.docker.docker_secret:
        name: sops_age_private_key
        data: "{{ lookup('file', '../secrets/sops_age_key.txt') | b64encode }}"
        state: present
    - name: Create Docker secret for SSH private key
      community.docker.docker_secret:
        name: github_ssh_private_key
        data: "{{ lookup('file', '../secrets/id_ed25519') | b64encode }}"
        state: present
    - name: Verify secret creation
      community.docker.docker_secret_info:
      register: secret_info
    - name: Dump secret info
      debug:
        var: secret_info

- name: Deploy DocoCD stack
  hosts: managers[0]
  tasks:
    - name: Deploy DocoCD stack
      community.docker.docker_stack:
        name: dococd
        state: present
        compose:
          - ../docker-stacks/infra/dococd/docker-compose.yaml