volumes:
  data:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.1.244,rw,vers=4.1
      device: ":/mnt/MAIN_POOL/data/docker-volumes"
  db-data:

networks:
  cloudflare-net:
    external: true
  db-backup-net:
    external: true

services:
  init_volumes:
    user: "3004:3004"
    image: busybox
    command: >
      sh -c "mkdir -p /mnt/docker-volumes/pocketid-data"
    deploy:
      replicas: 1
      mode: replicated-job
    volumes:
      - type: volume
        source: data
        target: /mnt/docker-volumes
        volume:
          nocopy: true
  app:
    image: ghcr.io/pocket-id/pocket-id:v2
    user: "3004:3004"
    networks:
      default:
      cloudflare-net:
        aliases:
          - pocket-id
    environment:
      TZ: Europe/Zurich
      APP_URL: https://auth.schaermu.ch
      PUID: "3004"
      PGID: "3004"
      TRUST_PROXY: "true"
      ENCRYPTION_KEY: ${POCKETID_ENCRYPTION_KEY}
      DB_CONNECTION_STRING: ${POCKETID_DB_CONNECTION_STRING}
    volumes:
      - type: volume
        source: data
        target: /app/data
        volume:
          subpath: pocketid-data
          nocopy: true
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: pocketid
      POSTGRES_DB: pocketid
      POSTGRES_PASSWORD: ${POCKETID_DB_PASSWORD}
    volumes:
      - type: volume
        source: db-data
        target: /var/lib/postgresql/data
    networks:
      default:
      db-backup-net:
        aliases:
          - pocketid-db
    deploy:
      placement:
        constraints:
          - node.labels.db==true
      replicas: 1
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U pocketid" ]
      interval: 30s
      timeout: 5s
      retries: 5